/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

/* Remove all browser outlines */
* {
    outline: none;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}

.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    background: #46005A;
    border-color: #30003D;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>a:focus {
    background-color: #30003D;
    color: yellow;
}

.navbar .navbar-nav>li>a {
    color: rgba(255, 255, 0, 0.75);
}

.navbar .navbar-nav a:hover {
    color: yellow !important;
}

.navbar .navbar-toggle {
    border-color: #30003D;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
    background-color: #30003D;
}

.navbar .navbar-toggle .icon-bar {
    background-color: yellow;
}

.navbar .brand-image-container .brand-image {
    height: 70px;
    width: 145px;
}

.navbar .brand-image-container {
    height: 50px;
    width: 145px;
    margin-top: -20px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-wrapper .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar .nav.navbar-right {
        margin-right: 15px;
    }

    .navbar-wrapper .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

.navbar .navbar-right .external-links {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    margin-right: 10px;
}

.navbar .navbar-right .external-links img {
    height: 25px;
    width: 25px;
}

.navbar .navbar-right li {
    float: left;
}

.contact-us-row .thumbnail {
    text-align: center;
    border: 0;
}